---
import BaseLayout from "../layouts/BaseLayout.astro";
import * as NL_FAQ_MD from "../content/nl/faq.md";
import * as EN_FAQ_MD from "../content/en/faq.md";
import { FaqPageSchema } from "../content.config";
import { i18n, i18nContent } from "../translations/i18n";

const MD = i18nContent({nl: NL_FAQ_MD, en: EN_FAQ_MD});
const frontmatter = FaqPageSchema.parse(MD.frontmatter);
---

<BaseLayout title={i18n().pageFaq.title} seo={frontmatter.seo}>
    <script src="../scripts/collapsable.ts"></script>
    <article class="prose text-center max-w-none" set:html={MD.compiledContent()}></article>
    <div id="main" class="flex flex-col gap-content">
        {frontmatter.items.map((item) => (
            <details name="faq" class="border-solid border border-secundary-on-light rounded-base inset-shadow-sm/25 shadow-sm/25 p-inner">
                <summary class="font-semibold text-lg">{item.question}</summary>
                <p class="text-left">{item.answer}</p>
            </details>
        ))}
    </div>
</BaseLayout>