---
import * as NL_UPCOMMING_EVENT_MD from "../content/nl/upcomming-event.md";
import * as EN_UPCOMMING_EVENT_MD from "../content/en/upcomming-event.md";
import BaseLayout from "../layouts/BaseLayout.astro";
import BaseImage from "../components/BaseImage.astro";
import Button from "../components/Button.astro";
import { UpcommingEventPageSchema } from "../content.config";
import { i18n, i18nContent } from "../translations/i18n";

const MD = i18nContent({nl: NL_UPCOMMING_EVENT_MD, en: EN_UPCOMMING_EVENT_MD});
const frontmatter = UpcommingEventPageSchema.parse(MD.frontmatter);

---

<BaseLayout slug="upcomming-event" title={i18n().pageUpcommingEvent.title} seo={frontmatter.seo}>
    {frontmatter.image && (
        <BaseImage src={frontmatter.image} alt="" fetchpriority="high" $class="aspect-video" />
    )}
	<article id="main" class="prose text-center w-fit m-auto max-w-none flex flex-col items-center" set:html={MD.compiledContent()}></article>
    {frontmatter.signup_url && (
        <a href={frontmatter.signup_url}>
            <Button variant="light_fill" $class="w-full text-white" tabindex="-1">{i18n().pageUpcommingEvent.signup}</Button>
        </a>
    )}
</BaseLayout>