---
import BaseImage from "./BaseImage.astro"
import {Tag, articleTagToString} from "../util/types";

interface Props {
    src: ImageMetadata;
    title: string;
    date: string;
    tag: Tag;
    classes?: string[];
}

const {src, title, date, tag, classes = []} = Astro.props;
---

<div class:list={["w-full", "bg-white", "rounded-base", "shadow-md/25", ...classes]}>
    <a href="#">
    <BaseImage src={src} alt={title} showShadow={false} classes={["aspect-video"]} />
    <div class:list={["p-inner", "flex", "flex-col", "gap-0", "justify-center", "items-center"]}>
        <span class:list={["font-semibold"]}>{title}</span>
        <p>
            <span class:list={["italic"]}>{date}</span>
            -
            <span>{articleTagToString(tag)}</span>
        </p>
    </div>
    </a>
</div>