---
import BaseImage from "./BaseImage.astro"

interface Props {
    href: string;
    src: ImageMetadata|string;
    title: string;
    date: Date;
    tag: string;
    classes?: string[];
}

const {href, src, title, date, tag, classes = []} = Astro.props;
---

<div class:list={["w-full", "bg-white", "rounded-base", "shadow-md/25", ...classes]}>
    <a href={href}>
    <BaseImage src={src} alt={title} showShadow={false} classes={["aspect-video"]} />
    <div class:list={["p-inner", "flex", "flex-col", "gap-0", "justify-center", "items-center"]}>
        <span class:list={["font-semibold"]}>{title}</span>
        <p>
            <span class:list={["italic"]}>{date.toLocaleDateString()}</span>
            -
            <span>{tag}</span>
        </p>
    </div>
    </a>
</div>