---
import { type CollectionEntry } from 'astro:content'
import BaseImage from "./BaseImage.astro"
import type { HTMLAttributes } from 'astro/types';
import { twMerge, type ClassNameValue } from 'tailwind-merge';
import { i18nUrl } from '../translations/i18n';

interface Props extends HTMLAttributes<"div"> {
    title: string;
    articles: CollectionEntry<'posts'>[]
    $class?: ClassNameValue
}

const {title, articles, $class, ...extras} = Astro.props;
---

<div class={twMerge("flex flex-col gap-content items-center", $class)} {...extras}>
    <h2 class="text-2xl font-semibold">{title}</h2>
    <ul class="flex flex-col gap-content">
        {articles.map(article => (
            <li>
                <div class="w-full bg-white rounded-base shadow-md/25">
                    <a href={i18nUrl("/post/" + article.id)}>
                        <BaseImage src={article.data.image} alt="" variant="noshadow" $class="aspect-video" />
                        <div class="p-inner flex flex-col gap-0 justify-center items-center">
                            <h4 class="font-semibold">{title}</h4>
                            <p>
                                <time class="italic">{article.data.created_at.toLocaleDateString()}</time>
                                -
                                <span>{article.data.kind}</span>
                            </p>
                        </div>
                    </a>
                </div>
            </li>
        ))}
    </ul>
</div>