---
import { type CollectionEntry } from 'astro:content'
import BaseImage from "./BaseImage.astro"
import PAGECONFIG_JSON from "../pageconfig.json";
import type { HTMLAttributes } from 'astro/types';
import { twMerge, type ClassNameValue } from 'tailwind-merge';

interface Props extends HTMLAttributes<"div"> {
    title: string;
    articles: CollectionEntry<'posts'>[]
    $class?: ClassNameValue
}

const {title, articles, $class, ...extras} = Astro.props;
---

<div class={twMerge("flex flex-col gap-content items-center", $class)} {...extras}>
    <h2 class="text-2xl font-semibold">{title}</h2>
    <ul class="flex flex-col gap-content">
        {articles.map(article => (
            <li>
                <div class="w-full bg-white rounded-base shadow-md/25">
                    <a href={PAGECONFIG_JSON.site_url + "post/" + article.id}>
                    <BaseImage src={article.data.cover.image} alt={article.data.cover.alt} variant="noshadow" $class="aspect-video" />
                    <div class="p-inner flex flex-col gap-0 justify-center items-center">
                        <span class="font-semibold">{title}</span>
                        <p>
                            <span class="italic">{article.data.created_at.toLocaleDateString()}</span>
                            -
                            <span>{article.data.kind}</span>
                        </p>
                    </div>
                    </a>
                </div>
            </li>
        ))}
    </ul>
</div>