---
import { Icon } from "astro-icon/components";
import type { HTMLAttributes } from "astro/types";
import { twMerge, type ClassNameValue } from 'tailwind-merge';

interface Props extends HTMLAttributes<"a"> {
    href: string;
    iconId: string;
    voorgrond?: string;
    background?: string;
    $class?: ClassNameValue
}

const {href, iconId, voorgrond, background, $class, ...extras} = Astro.props;

---

<a href={href} class={twMerge($class)} {...extras}>
    <div style={(background ? `background: ${background};` : '') + (voorgrond ? `color: ${voorgrond};` : '')} class="shadow-sm/25 w-12 h-12 flex justify-center items-center rounded-full">
        <Icon name={iconId} size={38} />
    </div>
</a>