---
import "../styles/global.css";
import LOGO_PNG from "../assets/rmw-icon-transparent.png";
import Button from "../components/Button.astro";
import { Icon } from "astro-icon/components";
import SocialMediaIcon from "../components/SocialMediaIcon.astro";
import PAGECONFIG_JSON from "../pageconfig.json";
import { twMerge, type ClassNameValue } from "tailwind-merge";
import { ConfigSchema, type SeoObject } from "../content.config";
import { getLocale, i18n, i18nUrl } from "../translations/i18n";
import { undefined } from "astro:schema";

const pageconfig = ConfigSchema.parse(PAGECONFIG_JSON);

interface Props {
  slug: string|null;
  title?: string;
  seo?: SeoObject;
  $class?: ClassNameValue;
}

const { slug, title, seo, $class } = Astro.props;
---

<html lang={getLocale()}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href={import.meta.env.BASE_URL + "favicon.ico"} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    {
      seo && (
        <>
          <meta name="description" content={seo.description} />
          {seo?.keywords && <meta name="keywords" content={seo.keywords} />}
        </>
      )
    }
    <title>
      {i18n().BaseLayout.head.title}{title && ` | ${title}`}
    </title>
    <slot name="head" />
    <script src="../scripts/collapsable.ts"></script>
  </head>
  <body class={twMerge("bg-primary flex flex-col", $class)}>
    <!-- Topbar -->
    <div class="bg-primary sticky top-0 shadow-sm/25">
      <!-- Skip to main content -->
      <a
        href="#main"
        class="block static left-0 top-0 w-0 h-0 overflow-hidden text-center text-secundary-on-dark focus:w-auto focus:h-auto focus:overflow-auto"
        ><span class="p-2 text-white underline rounded-br-sm"
          >{i18n().BaseLayout.header.skip_to_main}</span
        ></a
      >

      <header
        class="py-base px-content flex flex-col gap-base w-full max-w-page m-auto"
      >
        <div class="flex justify-between items-center text-white">
          <a href={import.meta.env.BASE_URL+i18nUrl("")} class="flex items-center gap-inner">
            <img src={LOGO_PNG.src} alt="" class="h-12.5" />
            <h1 set:html={i18n().BaseLayout.header.title_html} />
          </a>
          <button
            title={i18n().BaseLayout.header.toggle_navbar}
            collapse-src="header"
            class="cursor-pointer"
          >
            <Icon name="mdi:menu" collapse-target="header" size={24} />
            <Icon name="mdi:close" collapse-target="header" class="hidden" size={24} />
          </button>
        </div>
      </header>
      <nav
        collapse-target="header"
        class="hidden absolute left-0 top-full w-full"
      >
        <div class="bg-primary w-full text-screen">
          <div class="m-auto w-page max-w-full pb-base px-content flex flex-col gap-inner">
            {(slug != null) && (
              <ul class="flex gap-inner">
                {getLocale() != "nl" && (<li><a href={import.meta.env.BASE_URL + "" + slug} hreflang="nl" class="bg-shaded text-sm p-1 rounded-sm">🇳🇱 Nederlands</a></li>)}
                {getLocale() != "en" && (<li><a href={import.meta.env.BASE_URL + "en/" + slug} hreflang="en" class="bg-shaded text-sm p-1 rounded-sm">🇬🇧 English</a></li>)}
              </ul>
            )}
            <ul class="list-disc list-inside">
              <li><a href={import.meta.env.BASE_URL + i18nUrl("post/")}>{i18n().BaseLayout.nav.posts}</a></li>
              <li><a href={import.meta.env.BASE_URL + i18nUrl("upcomming-event")}>{i18n().BaseLayout.nav.upcomming_event}</a></li>
              <li><a href={import.meta.env.BASE_URL + i18nUrl("faq")}>{i18n().BaseLayout.nav.faq}</a></li>
            </ul>
          </div>
        </div>
        <button
          collapse-src="header"
          class="bg-black opacity-50 h-screen w-full"></button>
      </nav>
    </div>

    <!-- Main -->
    <main class="bg-screen">
      <div class="w-full max-w-page m-auto flex flex-col gap-content p-content">
        <slot />
      </div>
    </main>

    <!-- Footer -->
    <footer
      class="p-content flex flex-col gap-content w-full max-w-page m-auto"
    >
      <div class="flex justify-center gap-content" id="socials">
        {
          pageconfig.socials.map((v) => (
            <SocialMediaIcon
              title={v.title}
              icon_id={v.icon}
              href={v.url}
              background={v.background}
              foreground={v.foreground ?? "white"}
            />
          ))
        }
      </div>

      <a href={pageconfig.maillist_url} class="w-full">
        <Button
          variant="dark_line"
          $class="text-secundary-on-dark px-base w-full"
          tabindex="-1"
        >
          {i18n().BaseLayout.footer.maillist_register}
        </Button>
      </a>
    </footer>
  </body>
</html>
