---
import "../styles/global.css";
import LOGO_PNG from "../assets/rmw-icon-transparent.png";
import Button from "../components/Button.astro";
import SocialMediaIcon from "../components/SocialMediaIcon.astro";
import PAGECONFIG_JSON from "../pageconfig.json";
import { twMerge, type ClassNameValue } from "tailwind-merge";
import { ConfigSchema, type SeoObject } from "../content.config";
import { getLocale, i18n, i18nUrl } from "../translations/i18n";

const pageconfig = ConfigSchema.parse(PAGECONFIG_JSON);

interface Props {
  title?: string;
  seo?: SeoObject;
  $class?: ClassNameValue;
}

const { title, seo, $class } = Astro.props;
---

<html lang={getLocale()}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    {
      seo && (
        <>
          <meta name="description" content={seo.description} />
          {seo?.keywords && <meta name="keywords" content={seo.keywords} />}
        </>
      )
    }
    <title>
      {i18n().BaseLayout.head.title}{title && ` | ${title}`}
    </title>
    <slot name="head" />
    <script src="../scripts/collapsable.ts"></script>
  </head>
  <body class={twMerge("bg-primary flex flex-col", $class)}>
    <!-- Topbar -->
    <div class="bg-primary sticky top-0 shadow-sm/25">
      <!-- Skip to main content -->
      <a
        href="#main"
        class="block static left-0 top-0 w-0 h-0 overflow-hidden text-center text-secundary-on-dark focus:w-auto focus:h-auto focus:overflow-auto"
        ><span class="p-2 text-white underline rounded-br-sm"
          >{i18n().BaseLayout.header.skip_to_main}</span
        ></a
      >

      <header
        class="py-base px-content flex flex-col gap-base w-full max-w-page m-auto"
      >
        <div class="flex justify-between items-center text-white">
          <a href={i18nUrl("/")} class="flex items-center gap-inner">
            <img src={LOGO_PNG.src} alt="" class="h-12.5" />
            <h1 set:html={i18n().BaseLayout.header.title_html} />
          </a>
          <button
            aria-label={i18n().BaseLayout.header.toggle_navbar}
            collapse-src="header"
          >
            <!-- ic:baseline-menu -->
            <svg
              collapse-target="header"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path
                fill="currentColor"
                d="M3 18h18v-2H3zm0-5h18v-2H3zm0-7v2h18V6z"></path>
            </svg>

            <!-- ic:baseline-close -->
            <svg
              collapse-target="header"
              class="hidden"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path
                fill="currentColor"
                d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12z"
              ></path>
            </svg>
          </button>
        </div>
      </header>
      <nav
        collapse-target="header"
        class="hidden absolute left-0 top-full w-full"
      >
        <div class="bg-primary w-full">
          <div class="m-auto w-page max-w-full pb-base px-content">
            <ul class="list-disc list-inside text-screen">
              <li><a href={i18nUrl("/post/")}>{i18n().BaseLayout.nav.posts}</a></li>
              <li><a href={i18nUrl("/upcomming-event")}>{i18n().BaseLayout.nav.upcomming_event}</a></li>
              <li><a href={i18nUrl("/faq")}>{i18n().BaseLayout.nav.faq}</a></li>
            </ul>
          </div>
        </div>
        <button
          collapse-src="header"
          class="bg-black opacity-50 h-screen w-full"></button>
      </nav>
    </div>

    <!-- Main -->
    <main class="bg-screen">
      <div class="w-full max-w-page m-auto flex flex-col gap-content p-content">
        <slot />
      </div>
    </main>

    <!-- Footer -->
    <footer
      class="p-content pb-inner flex flex-col gap-content w-full max-w-page m-auto"
    >
      <div class="flex justify-center gap-content">
        {
          pageconfig.socials.map((v) => (
            <SocialMediaIcon
              icon_id={v.icon}
              href={v.url}
              background={v.background}
              foreground={v.foreground ?? "white"}
            />
          ))
        }
      </div>

      <a href={pageconfig.maillist_url} class="w-full">
        <Button
          variant="dark_line"
          $class="text-secundary-on-dark px-base w-full"
          tabindex="-1"
        >
          {i18n().BaseLayout.footer.maillist_register}
        </Button>
      </a>

      <a
        href="https://icon-sets.iconify.design/ic/"
        class="text-white italic text-center text-sm opacity-65"
        >{i18n().BaseLayout.footer.google_icon_credits}</a
      >
    </footer>
  </body>
</html>
